$border-radius: 5px;

$app-header-bg-color: rgb(226, 103, 15);//#1C3144;
$app-separator-color: rgb(226, 103, 15);
$app-bg-color: black;
$app-fg-color: white;

$topic-bg-color: rgb(86, 86, 211);
$topic-fg-color: white;
$topic-negative-bg-color: rgb(211, 86, 86);
$topic-negative-fg-color: white;
$topic-count-bg-color: rgba(255, 255, 255, 0.1);

$el-focus-color: $topic-bg-color;
$el-dropdown-bg-color: $topic-bg-color;
$el-dropdown-fg-color: white;
